<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- footer code -->
    <footer>
        <p>Created with love❤️ by Manish Sharma</p>
    </footer>
</body>
</html>